body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eaeae3;
}

.githubUser {
  margin: 40px auto;
  padding: 20px;
  width: 55%;
  background: whitesmoke;
  border: 3px solid dodgerblue;

}

.list {
  margin: 40px auto;
  width: 55%;
  background-color: whitesmoke;
  border: 3px solid dodgerblue;
}

.buttonDiv {
  display: flex;
  justify-content: space-around;
}

.githubImg {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.dataInfo {
  text-align: center;
}